atpbar >= 1.0.0
cached_property >= 1.5.1
# Required pypi modules
click >= 7.0
click-log >= 0.3.2
colorama >= 0.4.3
cookiecutter >= 1.7.0
dpath >= 2.0.1
fcache >= 0.4.7
feedparser >= 5.2.1, < 6
GitPython >= 3.1.0
htmllistparse >= 0.5.2
inquirer >= 2.7.0
jsonschema >= 2.5.1, < 4
kconfiglib >= 13.7.1
memorize.py >= 1.2
PyGithub >= 1.26
python-dotenv >= 0.10.5, < 1
PyYAML >= 5.3.1, < 6
ruamel.yaml >= 0.16.12
semver >= 2.10.0, < 3
six >= 1.3.0, < 2
toml >= 0.10.0
tqdm >= 4.59.0
validators >= 0.14.2
